*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regola di reset */

.big-container{
    display: flex;
    flex-direction: row;

    color: white;
    /* regola di colore test */
}

/* Inizio Side Bar */

.Side-bar{
    border: 1px solid red;
    /* regole di test */
    width: 20%;
    max-height:1000px;
    padding-bottom: 100px;

    display: flex;
    flex-direction:column ;
    justify-content:space-between ;

    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: 1;

    background: #000000;
    padding-top: 100px;
}


.side-up{
    width: 100%;

    display: flex;
    flex-direction: column;
}

.logo{
    border: 1px solid red;
    height: 100px;
    /* regole di test */

    width: 100%;

}

.side-features{
    border: 1px solid red;
    height: 100px;
    /* regole di test */

    width: 100%;
}

.side-Playlist{
    border: 1px solid red;
    height: 100px;
    /* regole di test */

    width: 100%;
}

.side-profile{
    border: 1px solid red;
    height: 100px;
    /* regole di test */

    width: 100%;
}




/* Fine Side bar */

/* Inizio Spoty Body */

.Spoty-body{
    border: 1px solid red;

    /* regole di test */
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;

    padding-top: 200px;
    padding-left: 300px;
    padding-bottom: 150px;
    
    height: 100vh;
    overflow: auto;

    background-color: #151921;

    
}

.spoty-upgrade{
    border: 1px solid red;
    height: 100px;
    /* regole di test */
    
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: right;

    padding: 10px;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;

    background: #000000;
    

}

.button-upgrade{
    padding: ;
}

.spoty-songs, .spoty-mix, .spoty-artist{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.spoty-selection{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.spoty-selection ul{
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;

    
}

.spoty-selection ul li{
    list-style-type: none;
}

.spoty-list{
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.spoty-album{
    border: 1px solid red;
    /* regola di reset */
    width: calc(100% / 6 - 15px);
    height: 150px;

}

.spoty-collection{
    width: 100%;

    display: flex;
    flex-direction: row;
    gap: 15px;
    
}
.spoty-yours{
    border: solid 1px red;
    height: 150px;
    width: calc(100% / 6 - 15px);
    /* regole test */
}

.spoty-name{
    width: 100%;

    display: flex;
    flex-direction: row;
    gap: 15px;
}

.spoty-face{
    border: solid 1px red;
    height: 200px;
    width: 200px;
    /* regole test */
}

/* Fine Spoty Body */

/* Fine Main */

/* Inizio Footer */
.footer-container{
    border: 1px solid red;
    height: 100px;
    /* test */
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

    position: fixed;
    bottom: 0;
    z-index: 2;

    background: #000000;
    
    
}
.footer-left{
    border: solid 1px red;

    /* regola di test */

    width: calc(100% / 3);
}

.footer-middle{
    border: solid 1px red;

    /* regola di test */

    width: calc(100% / 3);
}

.footer-right{
    border: solid 1px red;

    /* regola di test */

    width: calc(100% / 3);
}


@media  screen and (max-width:992px) {
    .spoty-album{
        width: calc(100% / 5);
    }
    .spoty-yours{
        /* width: calc(100% / 4); */
    }
    .Spoty-body{
        /* padding: 150px 80px ; */
    }
}

@media screen and (max-width:798px){
    .spoty-album{
        width: calc(100% / 3);
    }
    .Spoty-body{
        padding-left: 200px;
    }
    

}

@media screen and (max-width:480px) {
    .Side-bar{
        width: 20%;
    }
    .spoty-yours{
        width: calc(100% / 3);
    }
    .Spoty-body{
        padding-left: 100px;
    }
    .spoty-selection ul{
        flex-wrap: wrap;
    }
}


