*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regola di reset */

.big-container{
    display: flex;
    flex-direction: row;

    color: white;
    /* regola di colore test */
}

/* Inizio Side Bar */

.Side-bar{
    border: 1px solid red;
    /* regole di test */
    width: 230px;
    height: calc(100vh - 100px);
    

    display: flex;
    flex-direction:column ;
    justify-content:space-between ;

    /* position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: 1; */

    background: #000000;
    
}


.side-up{
    width: 100%;

    display: flex;
    flex-direction: column;
}

.logo{
    border: 1px solid red;
    
    /* regole di test */

    width: 100%;

    padding-top: 20px;
    padding-bottom: 30px;
}

.logo img{
    width: 60%;
}



.side-features{
    border: 1px solid red;
    
    /* regole di test */

    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;
}


.home, .search, .library{
    display: flex;
    flex-direction: row;
    width: calc(100% / 3 - 10px);
    align-items: center;
    gap: 8px;
}

.home .logo-home img, .search .logo-search img, .library .logo-library img{
    width: 100%;
}

.side-Playlist{
    border: 1px solid red;
    height: 100px;
    /* regole di test */

    width: 100%;
}

.side-profile{
    border: 1px solid red;
    height: 100px;
    /* regole di test */

    width: 100%;
}




/* Fine Side bar */

/* Inizio Spoty Body */

.Spoty-body{
    border: 1px solid red;

    /* regole di test */
    width: calc(100% - 230px);
    
    display: flex;
    flex-direction: column;

    padding-top: 130px;
    
    padding-bottom: 20px;
    
    height: calc(100vh - 100px);
    overflow: auto;

    background-color: #151921;

    
}

.spoty-upgrade{
    border: 1px solid red;
    height: 100px;
    /* regole di test */
    
    width: calc(100% - 230px);

    display: flex;
    flex-direction: row;
    justify-content: right;

    padding: 30px;
    padding-right: 40px;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;

    background: #000000;
    
    opacity: 0.4;

}

.button-upgrade{
    padding: 10px ;

    display: flex;
    align-items: center;

    border: 3px solid white;
    border-radius: 20px;
}

.spoty-songs, .spoty-mix, .spoty-artist{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.spoty-selection{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.spoty-selection ul{
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;

    
}

.spoty-selection ul li{
    list-style-type: none;
    opacity: 0.7;
}

.spoty-list{
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.spoty-list h3, .spoty-list p{
    text-align: center;
}

.spoty-object{
    width: calc(100% / 6 - 15px);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px
}

.spoty-album{
    /* border: 1px solid red; */
    /* regola di reset */
    width: 100%;
    /* height: 150px; */

}
.spoty-object .spoty-album img{
    width: 100%;
}

.spoty-collection{
    width: 100%;

    display: flex;
    flex-direction: row;
    gap: 15px;
    
}
.spoty-yours{
    
    width: calc(100% / 6 - 15px);
    
    /* regole test */

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.yours-album{
    
    width: 100%;
    
}

.yours-album img{
    width: 100%;
}

.spoty-yours h3{
    text-align: center;
}


.spoty-name{
    width: 100%;

    display: flex;
    flex-direction: row;
    gap: 15px;
}

.spoty-face{
   
    width: calc(100% / 6 - 15px);
    /* regole test */
}

.spoty-face .spoty-photo img{
    width: 100%;

    border-radius: 50%;

}

.spoty-name h3, .spoty-name p{
    text-align: center;
}

/* Fine Spoty Body */

/* Fine Main */

/* Inizio Footer */
.footer-container{
    border: 1px solid red;
    height: 100px;
    /* test */
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

    position: fixed;
    bottom: 0;
    z-index: 2;

    background: #000000;
    
    
}
.footer-left{
    border: solid 1px red;

    /* regola di test */

    width: calc(100% / 3);
}

.footer-middle{
    border: solid 1px red;

    /* regola di test */

    width: calc(100% / 3);
}

.footer-right{
    border: solid 1px red;

    /* regola di test */

    width: calc(100% / 3);
}


@media  screen and (max-width:992px) {
    .spoty-object{
        width: calc(100% / 5 - 15px);
    }
    .spoty-yours{
        width: calc(100% / 5 - 15px);
    }
    .spoty-face{
        width: calc(100% / 5 - 15px);
    }
    .Spoty-body{
        
    }
}

@media screen and (max-width:798px){
    .spoty-object{
        width: calc(100% / 3 - 15px);
    }
    .spoty-yours{
        width: calc(100% / 3 - 15px);
    }
    .spoty-face{
        width: calc(100% / 3 - 15px);
    }
    .Spoty-body{
       
    }
    

}

@media screen and (max-width:480px) {
    .Side-bar{
        width: 50px;

    }
    
    .spoty-upgrade{
        width: calc(100% - 50px);
    }
    .spoty-object{
        width: calc(100% / 2 - 15px);
    }
    .spoty-yours{
        width: calc(100% / 2 - 15px);
    }
    .spoty-face{
        width: calc(100% / 2 - 15px);
    }
    .Spoty-body{
    width: calc(100% - 50px);
        
    }
    .spoty-selection ul{
        flex-wrap: wrap;
    }
}


